body {
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 17px;
}

#first {
	background: url(../images/chapkaa14.jpg) no-repeat center top;
	
	height: 1810px;
}

article {
	width: 1170px;
	margin: 0px auto 0px auto;
}




.gruppa{
color: #fff;
-webkit-text-stroke: 0px black;
font-weight: bold;
font-size: 24px;
float: right;
text-align:right;
margin: 91px -205px 10px 5px;
}

.tele{
color: #fff;
-webkit-text-stroke: 0px black;
font-weight: bold;
font-size: 22px;
float: right;
text-align:right;
margin: 48px 140px 10px 5px;
}



.title {
color: #FFF;
font-size: 31px;
-webkit-text-stroke: 1px black;
text-transform: uppercase;
text-align: center;
line-height: 37px;
margin-top: 215px;
font-weight: bold;
}

.title.span {
color: #FFF;
font-size: 32px;
-webkit-text-stroke: 1px white;
font-weight: bold;
text-transform: uppercase;
text-align: center;
line-height: 37px;
margin-top: 194px;
}

.titlee {
color: #d40428;
-webkit-text-stroke: 1px black;
font-size: 35px;
font-weight: normal;
font-weight: bold;
text-align: center;
text-transform: uppercase;
margin-top: 4px;
}


.cta {
	background: #d40428 none repeat scroll 0% 0%;
color: #FFF;
font-size: 18px;
font-weight: bold;
border-radius: 30px;
padding: 20px 30px;
text-decoration: none;
margin: 45px auto 0px;
display: block;
text-align: center;
width: 250px;
}

.cta:hover {
	background: #b00624;
	color: #fff;
}

.icons {
	margin: 135px 0px 10px 0px;
}


.texte {
	color: #FFF;
	font-size: 20px;
	font-weight: normal;

	text-align: center;
	text-transform: uppercase;
	margin-top: -30px;
}

.text {
	color: #FFF;
	font-size: 18px;
	font-weight: normal;

	text-align: justify;
	text-indent: 35px;
	margin-top:55px;
}



.icons {
color: #FFF;
}

.icons .icon {
	text-align: center;
	width: 299px;
	float: left;
	margin-right: 113px;
	padding-top: 120px;
	font-size: 18px;
	margin-top: -15px;

	
}

.icons .icon div{
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -9px;
	color:white;
	
}


.icons .icon:nth-child(1) {
	background: url(../images/icon1.png) no-repeat center top;
	margin-left: 20px;
}

.icons .icon:nth-child(2) {
	background: url(../images/icon2.png) no-repeat center top;
}

.icons .icon:nth-child(3) {
	background: url(../images/icon3.png) no-repeat center top;
	margin-right: 0px;
}

#third {
	
	color: #fff;
	margin-top: 70px;
}

h3{
	font-size: 33px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 75px 0px 62px 0px;
	
}

.clear {
	clear: both;
}



	
	
	
	
	
	
	
	
	




